/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.site-header, .site-footer {
    background-color: #0073aa; 
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.site-header h1, .site-footer p {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    color: #444;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: #0073aa;
}

p {
    line-height: 1.6;
}

/* Updated Button Styling */
.button {
    background-color: #0085ba;
    color: #fff;
    padding: 18px 36px; /* Increased padding to make the button 3x bigger */
    font-size: 16px; /* Slightly larger font size for better readability */
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; /* Allows the button to respect padding */
    border: none; /* Removes border */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.button:hover, .button:focus {
    background-color: #0073aa;
}

/* Form Input Styling */
.form-input {
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #7e8993;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    .form-input, .button {
        width: 100%; /* Adjusts width for smaller screens, subtracting the total padding */
    }
}
